.cart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cart__btn {
  /* background-color: lightslategray; */
  margin-left: auto;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  /* border-radius: 10px;
  transition: all 0.5s; */
}
/* .cart__btn:hover {
  background-color: lightgreen;
}
.cart__btn:disabled {
  cursor: not-allowed;
}
.cart__btn:hover:disabled {
  background-color: lightslategray;
} */
.cart__inner {
  text-align: right;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cart-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
