.cart__item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid #000d5d;
}
.cart__item-name {
  margin-right: 20px;
  text-align: left;
}
.cart__item-price {
  margin-left: auto;
}
.cart__item-count {
  margin-right: 5px;
}
